* {
    box-sizing: border-box;
    background-color: #4b4b4a;
}
/* highlighting keys */
:root {
    --key-correct-letter-spot: #014f01;
    --key-correct-letter: #dad019;
    --incorrect-letter: #281e1e;
}
h1 {
    color: whitesmoke;
}

h2 {
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
    height: 100vh;
}
.container h1 {
    display: flex;
    justify-content: center;
}
.top-section {
    display: flex;
    flex: 1;
}
.top-section h1 {
    display: flex;
    justify-content: center;
    flex: 1;
}
.middle-section {
    display: flex;
    justify-content: center;
    flex: 3;
}
.bottom-section {
    display: flex;
    justify-content: center;
    flex: 2;
}
.keyboard {
    display: block;
}

.keyboard div {
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    height: 4rem;
}

.key {
    display: flex;
    justify-content:center;
    padding: 0.5rem;
    background-color: #697682;
    border-radius: 0.5rem;
    align-items: center;
    border: 0.1rem solid #281e1e;
    width: 2rem;
    cursor: pointer;
}

.large-key {
    width: 5rem;
}

.player-word-box {
    display: flex;
    flex-direction: column;
    width: 16rem;
    height: 19rem;
    justify-content: flex-start;
    border: 0.5rem solid whitesmoke;
}

.guess {
    display: flex;
}

.letter {
    display: flex;
    padding: 0.5rem 0;
    height: 3rem;
    width: 3rem;
    justify-content: center;
    align-items: center;
    background-color: #697682;
}

#instruction-button {
    display: flex;
    justify-content: center;
    width: 8rem;
    color: whitesmoke;
    padding: 0.8rem;
    background-color: #428ef9;
    border-radius: 5px;
    border-color: #0267f4;
    cursor: pointer;
 }
 
.instructions {
    display: none;
    width: 30rem;
    font-size: 1.3rem;
}

.play-button {
    color: #d1dad1;
    background-color: #014f01;
    border-radius: 5px;
    border-color: #014f01;
    padding: 0.5rem;
    margin: 0 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
}
.exit-button {
    color: #fabf51;
    background-color: #d55302;
    border-radius: 5px;
    border-color:#d55302;
    padding: 0.5rem;
    margin: 0 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;
}
.buttons {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0;
}
.word-bank {
    display: none;
    font-size: 1.2rem;
}
.game-lost {
    display: none;
    font-size: 1.2rem;
}
.wordbank-table {
    display: flex;
    justify-content: space-around;
    font-size: 3rem;
}
#win-words {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--key-correct-letter-spot);
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.2rem;
}
#stickers {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--key-correct-letter-spot);
    border: 2px solid lightgrey;
    border-radius: 10px;
    padding: 1rem;
    margin: 0.2rem;
}
.score-board {
    display: none;
    background-color: lightgrey;
    font-size: 1.2rem;
}

/* for keyboard and word-box */
.green {
    background-color: var(--key-correct-letter-spot);
}
.yellow {
    background-color: var(--key-correct-letter);
}
.grey {
    background-color: var(--incorrect-letter);
}