* {
    box-sizing: border-box;
    background-color: rgb(75, 75, 74);
}
.container {
    display: flex;
    flex-direction: column;
    color: whitesmoke;
}
.container h1 {
    display: flex;
    justify-content: center;
}
.top-section {
    display: flex;
    flex: 1;
}

.middle-section {
    display: flex;
    flex: 3;
}
.bottom-section {
    display: flex;
    flex: 2;
}

#instruction-button {
    display: flex;
    align-items: flex-start;
 }
/* at some point, create an array for wordle words */
/* Play screen, hide intro, console.log random word I choose */
/* Create win/lose page, make them appear & hide */
/* Add keys & word box design */

/* for instruction page */
.instructions {
    display: none;
    background-color: lightgrey;
}
.word-bank {
    display: none;
    background-color: lightgrey;
}
.game-lost {
    display: none;
    background-color: lightgrey;
}
